# Salin file ini menjadi ".env" lalu isi dengan data bot Discord kamu.
# Ambil TOKEN dan CLIENT_ID dari https://discord.com/developers/applications

DISCORD_TOKEN=isi_token_bot_discord_disini
CLIENT_ID=isi_application_client_id_disini
GUILD_ID=isi_server_id_discord_disini
